<header class="flex justify-content-between align-items-center px-2 pb-4 pt-1">
  <div class="flex flex-column w-3">
    <span class="sofia text-3xl sm:text-5xl line-height-1">{{
      monthNames[date.getMonth()]
    }}</span>
    <span class="text-lg sm:text-xl">{{ dayNames[date.getDay()].toLocaleUpperCase() }}</span>
  </div>
  <div
    class="flex w-7 text-center align-items-center justify-content-center"
  >
    <p-button
      icon="pi pi-chevron-left"
      [rounded]="true"
      [text]="true"
      styleClass="text-black-alpha-90"
      (onClick)="date.setDate(date.getDate() - 1); dateChange()"
    ></p-button>
    <span class="px-2 sm:px-4 font-bold text-5xl sm:text-6xl" (click)="visible = true">{{
      date.getDate()
    }}</span>
    <p-button
      icon="pi pi-chevron-right"
      [rounded]="true"
      [text]="true"
      styleClass="text-black-alpha-90"
      (onClick)="date.setDate(date.getDate() + 1); dateChange()"
    ></p-button>
  </div>
  <div class="w-3 text-right" (click)="menu.toggle($event)">
    <i class="pi pi-bars text-3xl font-bold"></i>
  </div>
</header>
<p-menu #menu [model]="menuList" [popup]="true"></p-menu>
<p-dialog
  [modal]="true"
  [showHeader]="true"
  header="Escolha uma data"
  [closable]="true"
  [closeOnEscape]="true"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '60vw', '640px': '90vw' }"
  [(visible)]="visible"
>
  <mat-calendar
    [(selected)]="date"
    (selectedChange)="visible = false; dateChange()"
  ></mat-calendar>
</p-dialog>
