<div class="flex justify-content-between bg-black-alpha-80 text-white py-1 px-3 gap-1 font-bold border-round-2xl ">
  <span class="mr-2">HORA</span>
  <div class="w-6 sm:w-4 text-center">CLIENTE</div>
  <div class="w-6 sm:w-5 text-center white-space-nowrap overflow-hidden text-overflow-ellipsis">SERVIÇO</div>
  <div class="hidden sm:block w-3 text-center">VALOR</div>
  <div class="flex justify-content-end">
    <i class="pi pi-money-bill"></i>
  </div>
</div>
@for (schedule of schedules; track schedule) {
  <app-schedule-line [schedule]="schedule"/>
}
